*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app {
  min-height: 100vh;
  padding: 1rem;
  background: var(--background-color);
  // background: radial-gradient(
  //   circle at var(--circle-x-pos) 10%,
  //   var(--secondary-background-color),
  //   rgba(0, 0, 0, 0) 50%
  // );

  display: flex;
  align-items: center;
  justify-content: center;

  transition: all 0.5s ease-in-out;

  &[data-theme="dark"] {
    --background-color: #121212;
    --secondary-background-color: #2d1356;
  }

  &[data-theme="light"] {
    --background-color: #ffffff;
    --secondary-background-color: #c035c3;
  }
}
