*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  padding: 1rem;
  background-color: $color-black-900;
  background: radial-gradient(
    circle at 30% 10%,
    $color-purple-accent-900,
    $color-black-900 50%
  );

  display: flex;
  align-items: center;
  justify-content: center;
}
