*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app {
  min-height: 100vh;
  padding: 1rem;
  background: var(--primary-color-600);

  display: flex;
  align-items: center;
  justify-content: center;

  transition: all 0.3s ease-in-out;

  &[data-theme="dark"] {
    --bg-color: #141414;
    --background-color: #121212;
    --secondary-background-color: #2d1356;

    --primary-color-100: #2c2b2b;
    --primary-color-300: #1a1a1a;
    --primary-color-600: #141414;
    --primary-color-900: #121212;

    --accent-color-300: #c035c3;
    --accent-color-900: #2d1356;

    --text-color: #ffffff;
  }

  &[data-theme="light"] {
    --background-color: #ffffff;
    --secondary-background-color: #c035c3;

    --primary-color-100: #cdcdcd;
    --primary-color-300: #dedede;
    --primary-color-600: #ededed;
    --primary-color-900: #f9f9f9;

    --accent-color-300: #df3fe2;
    --accent-color-900: #c035c3;

    --text-color: #000000;
  }
}
