$color-white-100: #ffffff;
$color-white-300: #cbcbcb;

$color-black-100: #a8a8a8;
$color-black-300: #2c2b2b;
$color-black-600: #1a1a1a;
$color-black-900: #121212;

$color-purple-accent-300: #c035c3;
$color-purple-accent-900: #2d1356;
