.btn {
  cursor: pointer;

  background: var(--primary-color-300);
  color: var(--text-color);
  font-size: 1rem;

  border: none;
  border-radius: 0.75rem;

  transition: all 0.3s ease-in-out;

  &:hover {
    background-color: var(--primary-color-100);
  }

  &__dark {
    overflow: hidden;
    font-size: 4rem;
    background-color: var(--theme-btn-bg);

    & > span {
      display: block;
      transform: translate(5px, -30px);
      transition: all 0.3s ease-in-out;
    }
  }

  &__light {
    overflow: hidden;
    font-size: 4rem;
    background-color: var(--theme-btn-bg);

    & > span {
      display: block;
      transform: translate(-35px, -30px);
      transform-origin: unset;
      transition: all 0.3s ease-in-out;
    }
  }

  &__division {
    font-size: 1.75rem;
  }

  &__subtract {
    font-size: 1.75rem;
  }

  &__addition {
    font-size: 1.75rem;
  }

  &__num-0 {
    grid-column-start: span 2;
  }

  &__result {
    font-size: 1.75rem;
    background-color: var(--accent-color-900);
    transition: all 0.3s ease-in-out;

    &:hover {
      background-color: var(--accent-color-300);
    }
  }
}
